<section id="wrapper">
    <div class="login-register">
        <div class="login-box">
            <div class="card-body login-color">
                <form class="form-horizontal form-material text-center" id="loginform" action="index.html">
                    <h3 class="box-title login-letter m-b-20 position">RESIDENT</h3>
                    <img src="../assets/images/logo-position.png" class="position-logo" />
                    <br><br>
                    <p class="text-center">¿Cómo deseas ingresar?</p>
                    <img src="../assets/images/resident.png" class="position-logo" /><br>
                    <button [routerLink]="['/beads']" class="btn" type="submit">Residente</button>
                    <br><br>
                    <img src="../assets/images/administrator.png" class="position-logo" />
                    <br><br>
                    <button [routerLink]="['/administrator']" class="btn" type="button">Administrador</button>
                </form>
            </div>
        </div>
    </div>
</section>