<div class="login-register">
    <div class="login-box">
        <div class="card-header">
            <div class="row text-center">
                <div class="col-md-1 col-xs-1">
                    <i [routerLink]="['/administrator']" class="fa fa-angle-left pointer"></i>
                </div>
                <div class="col-md-10 col-xs-10">
                    <h2>Datos del edificio</h2>
                </div>
                <div class="col-md-1 col-xs-1">
                    <i [routerLink]="['/apartment-data']" class="fa fa-angle-right pointer"></i>
                </div>
            </div>
        </div>

        <div class="card-body">
            <form class="form-horizontal form-material">
                <div class="position-center">
                    <img src="../assets/images/icon-image.png" class="add-img" />
                </div>
                <div class="card pt-4">
                    <div class="form-group border-bottom">
                        <div class="row">
                            <div class="col-md-10 col-xs-10 text-style text-center">
                                Denominación
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <img src="../../assets/images/icon-edit.png">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-xs-2">
                                <img src="../../assets/images/icon-location.png" class="pl-2">
                            </div>
                            <div class="col-md-10 col-xs-10 pl-2 text-style float-left">
                                Departamento
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-xs-2">
                                <img src="../../assets/images/icon-location.png" class="pl-2">
                            </div>
                            <div class="col-md-10 col-xs-10 pl-2 text-style float-left">
                                Provincia
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-xs-2">
                                <img src="../../assets/images/icon-location.png" class="pl-2">
                            </div>
                            <div class="col-md-10 col-xs-10 pl-2 text-style float-left">
                                Distrito
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-xs-2">
                                <img src="../../assets/images/icon-location.png" class="pl-2">
                            </div>
                            <div class="col-md-10 col-xs-10 pl-2 text-style float-left">
                                Dirección
                            </div>
                        </div>


                    </div>
                </div>
            </form>
        </div>

        <footer class="footer text-center pt-2">
            <div class="form-group row">
                <div class="col-md-4 col-xs-4">
                    <img src="../assets/images/start.png">
                </div>
                <div class="col-md-4 col-xs-4">
                    <img src="../assets/images/profile-icon.png">
                </div>
                <div class="col-md-4 col-xs-4">
                    <img src="../assets/images/archive.png">
                </div>
            </div>
        </footer>
    </div>
</div>