<div class="login-register">
    <div class="login-box">
        <div class="card-header">
            <div class="row text-center">
                <div class="col-md-1 col-xs-1">
                    <i [routerLink]="['/beads']" class="fa fa-angle-left pointer"></i>
                </div>
                <div class="col-md-10 col-xs-10">
                    <h2>Servicio de electricidad</h2>
                </div>
            </div>
        </div>

        <div class="card-body">
            <form class="form-horizontal form-material">
                <h3 class="box-title color-title m-b-20 position-center">Junio 2020</h3>
                <div class="position-center">
                    <img src="../assets/images/electric.png" />
                </div>
                <div class="card pt-4">
                    <div class="form-group border-bottom">
                        <div class="row">
                            <div class="col-md-2 col-xs-2">
                                <img src="../../assets/images/money.png" class="pl-2">
                            </div>

                            <div class="col-md-10 col-xs-10 pl-2 text-style float-left">
                                Total S/.240
                            </div>

                        </div>
                    </div>

                    <div class="form-group border-bottom">
                        <div class="row">
                            <div class="col-md-2 col-xs-2">
                                <img src="../../assets/images/money.png" class="pl-2">
                            </div>

                            <div class="col-md-10 col-xs-10 pl-2 text-style float-left">
                                Unitario S/.20
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>

        <footer class="footer text-center pt-2">
            <div class="form-group row">
                <div class="col-md-4 col-xs-4">
                    <img src="../assets/images/start.png">
                </div>
                <div class="col-md-4 col-xs-4">
                    <img src="../assets/images/profile-icon.png">
                </div>
                <div class="col-md-4 col-xs-4">
                    <img src="../assets/images/archive.png">
                </div>
            </div>
        </footer>
    </div>
</div>